* {
  background-color: rgb(245, 245, 230);
  color: rgb(17, 0, 17);
  font-family: 'Quicksand', sans-serif;
  margin: 10px 5px;
  font-size: 16px;
}

.header * {
  font-family: 'Dancing Script', cursive;
  background-color: #c097ab;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-around;
  padding-bottom: 10px;
  flex-wrap: nowrap;
}

#headContainer {
  flex-direction: row;
}

#headerText {
  flex-direction: column;
}

#companyName {
  font-size: 55px;
}

#headingSubtext {
  font-size: 20px;
}

#headerImageContainer {
  width: 350px;
  height: auto;
}

#headerImage {
  width: 250px;
  height: auto;
  flex-wrap: nowrap;
  flex-direction: row;

}

#faqContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pageTitle {
  font-size: 35px;
  padding: 3px;
}

#faqImage {
  height: 400px;
}

.contactForm * {
  background-color: #c097ab;
  font-size: 16px;
  padding: 12px;
}

.button {
  border-radius: 4px;
}
