* {
  background-color: rgb(245, 245, 230);
  color: rgb(17, 0, 17);
  font-family: 'Quicksand', sans-serif;
  margin: 10px 5px;
  font-size: 16px;
}

/* HEADER */

.header * {
  font-family: 'Dancing Script', cursive;
  background-color: #c097ab;
  margin: 0px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#headContainer {
  justify-content: space-evenly;
  flex-flow: row nowrap;
}

#headerText {
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: auto;
}

#companyName {
  font-size: 55px;
}

#headingSubtext {
  font-size: 22px;
}

#headerImageContainer {
  height: 300px;
  width: auto;
}

#headerImage {
  height: 200px;
  width: auto;
  justify-content: right;
}

.sectionHeading {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  padding: 3px;
  text-align: center;
}

/* HOME PAGE */

/* SERVICES */
#listOfServices {
  display: flex;
  flex-direction: row;
}

.services {
  display: flex;
  flex-direction: column;
}

#serv1img {
  width: 300px;
  height: auto;
}

#serv2img {
  height: 400px;
  width: auto;
}

#serv3img {
  width: 300px;
  height: auto;
}

/* FAQ Page */

#faqContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#faqImage {
  height: 400px;
}

.contactForm * {
  background-color: #c097ab;
  font-size: 16px;
  padding: 12px;
}

.button {
  border-radius: 4px;
}
